<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 4 / SPRINT 2 / NOTE 1*

# üìù Assignment

---


# Count-based_Representation

indeed.com ÏóêÏÑú Data Scientist ÌÇ§ÏõåÎìúÎ°ú Job descritionÏùÑ Ï∞æÏïÑ Ïä§ÌÅ¨ÎûòÌïëÌïú Îç∞Ïù¥ÌÑ∞Î•º Ïù¥Ïö©Ìï¥ Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Î≥¥Í≤†ÏäµÎãàÎã§.

[Data_Scienties.csv](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv) ÌååÏùºÏóêÎäî 1300Ïó¨Í∞úÏùò Data Scientist job description Ï†ïÎ≥¥Í∞Ä Îã¥Í≤® ÏûàÏäµÎãàÎã§.

## 1. Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ (Text preprocessing)

In [1]:
import re
import string

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 0) ÌÖçÏä§Ìä∏ Î∂ÑÏÑùÏóê ÏïûÏÑú Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨Î•º ÏßÑÌñâÌï©ÎãàÎã§.

- ÌååÏùºÏùÑ Î∂àÎü¨Ïò® ÌõÑ title, company, description Ïóê Ìï¥ÎãπÌïòÎäî ColumnÎßå ÎÇ®Í≤®Ï£ºÏÑ∏Ïöî.
- Ï§ëÎ≥µÍ∞íÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.

In [2]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv')

In [8]:
df_0 = df[['title','company','description']].drop_duplicates()
df_0.head()

,title,company,description
0,Data Scientist (Structured Products),EquiTrust Life Insurance Company,Job Details\nDescription\nEssential Duties and...
2,"Specialist, Data Science",Nationwide,As a team member in the Finance and Internal A...
4,Sr. Data Scientist (Remote),American Credit Acceptance,Overview:\nAmerican Credit Acceptance seeks a ...
5,Data Scientist Associate Sr (DADS06) BTB - LEG...,"JPMorgan Chase Bank, N.A.",J.P. Morgan's Corporate & Investment Bank (CIB...
6,Data Scientist,VyStar Credit Union,"At VyStar, we offer competitive pay, an excell..."

In [12]:
df_0.shape

(757, 3)

### 1) ÌÜ†ÌÅ∞ÏùÑ Ï†ïÏ†úÌï©ÎãàÎã§.

- Î¨∏ÏûêÎ•º ÏÜåÎ¨∏ÏûêÎ°ú ÌÜµÏùº
- Î∂ÑÏÑùÏóê Í¥ÄÎ†® ÏóÜÎäî Ï†ïÎ≥¥ Ï†úÍ±∞
- Ïù¥Î≤à Í≥ºÏ†úÎäî `spacy` Î°úÎ∂ÄÌÑ∞ `"en_core_web_sm"` ÏùÑ Î°úÎìúÌïòÏó¨ ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

- **Î¨∏Ìï≠ 1) ÎåÄÎ¨∏ÏûêÎ•º ÏÜåÎ¨∏ÏûêÎ°ú Î≥ÄÍ≤ΩÌïòÎäî Ìï®ÏàòÎ•º ÏûÖÎ†•ÌïòÏÑ∏Ïöî.**
- **Î¨∏Ìï≠ 2) Ï†ïÍ∑ú ÌëúÌòÑÏãùÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ re ÎùºÏù¥Î∏åÎü¨Î¶¨ÏóêÏÑú ÏïåÌååÎ≤≥ ÏÜåÎ¨∏Ïûê, Ïà´ÏûêÎßå Î∞õÏùÑ Ïàò ÏûàÎäî ÏΩîÎìúÎ•º ÏûëÏÑ±ÌïòÏÑ∏Ïöî.**

In [42]:
import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load("en_core_web_sm")
tokenizer = Tokenizer(nlp.vocab)

tokens = []

for doc in tokenizer.pipe(df_0['description']):
  doc_tokens = [re.sub(r"[^a-z0-9]","",token.text.lower()) for token in doc]
  tokens.append(doc_tokens)

df_0['token'] = tokens
df_0['token'].tail(1)

1299    [tldr, , spring, is, accelerating, the, discov...
Name: token, dtype: object

### 2) Ï†ïÏ†úÌïú ÌÜ†ÌÅ∞ÏùÑ ÏãúÍ∞ÅÌôî Ìï©ÎãàÎã§.

- Top 10 ÌÜ†ÌÅ∞ÏùÑ ÌîÑÎ¶∞Ìä∏ Ìï©ÎãàÎã§.
- ÌÜ†ÌÅ∞Ïùò Ïàò, ÎπàÎèÑ ÏàúÏúÑ, Ï°¥Ïû¨ Î¨∏ÏÑú Ïàò, ÎπÑÏú® Îì± Ï†ïÎ≥¥Î•º Í≥ÑÏÇ∞Ìï©ÎãàÎã§.
- ÌÜ†ÌÅ∞ ÏàúÏúÑÏóê Îî∞Î•∏ ÌçºÏÑºÌä∏ ÎàÑÏ†Å Î∂ÑÌè¨ Í∑∏ÎûòÌîÑÎ•º ÏãúÍ∞ÅÌôîÌï©ÎãàÎã§.

- **Î¨∏Ìï≠ 3) Ï∂îÏ≤ú ÌÜ†ÌÅ∞ ÏàúÏúÑ 10Í∞ú Îã®Ïñ¥Î•º ÏûÖÎ†•ÌïòÏÑ∏Ïöî.**

In [25]:
from collections import Counter

# Counter Í∞ùÏ≤¥Îäî Î¶¨Ïä§Ìä∏ÏöîÏÜåÏùò Í∞íÍ≥º ÏöîÏÜåÏùò Í∞ØÏàòÎ•º Ïπ¥Ïö¥Ìä∏ ÌïòÏó¨ Ï†ÄÏû•ÌïòÍ≥† ÏûàÏäµÎãàÎã§.
# Ïπ¥Ïö¥ÌÑ∞ Í∞ùÏ≤¥Îäî .update Î©îÏÜåÎìúÎ°ú Í≥ÑÏÜç ÏóÖÎç∞Ïù¥Ìä∏ Í∞ÄÎä•Ìï©ÎãàÎã§.
word_counts = Counter()

In [26]:
def word_count(docs):
    """
    ÌÜ†ÌÅ∞ÌôîÎêú Î¨∏ÏÑúÎì§ÏùÑ ÏûÖÎ†•Î∞õÏïÑ ÌÜ†ÌÅ∞Î≥ÑÎ°ú Í∞úÏàòÎ•º Ïπ¥Ïö¥Ìä∏ ÌïòÍ≥† Í¥ÄÎ†®Îêú ÏÜçÏÑ±ÏùÑ Í∞ÄÏßÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Î∞òÌôòÌï©ÎãàÎã§.
    
    Args:
        docs (series or list): ÌÜ†ÌÅ∞Ìôî Îêú Î¨∏ÏÑúÍ∞Ä Îì§Ïñ¥ÏûàÎäî list
    Returns:
        list: Dataframe
    """
    
    # word_counts : ÎßêÎ≠âÏπòÏóêÏÑú Îã®Ïñ¥Ïùò Í∞úÏàòÏûÖÎãàÎã§.
    word_counts = Counter()

    # word_in_docs : Îã®Ïñ¥Í∞Ä Ï°¥Ïû¨ÌïòÎäî Î¨∏ÏÑúÏùò ÎπàÎèÑÏûÖÎãàÎã§. Ìï¥Îãπ Îã®Ïñ¥Í∞Ä Ìïú Î≤à Ïù¥ÏÉÅ Ï°¥Ïû¨ÌïòÎ©¥ +1
    word_in_docs = Counter()

    # total_docs : Ï†ÑÏ≤¥ Î¨∏ÏÑúÏùò Í∞úÏàòÏûÖÎãàÎã§.
    total_docs = len(docs)

    for doc in docs:
        word_counts.update(doc)
        word_in_docs.update(set(doc))

    temp = zip(word_counts.keys(), word_counts.values())

    wc = pd.DataFrame(temp, columns = ['word', 'count'])

    # rank Ïó¥Ïóê Îã®Ïñ¥ ÎπàÎèÑ ÏàúÏúºÎ°ú ÏàúÏúÑÎ•º Ï†ÄÏû•Ìï©ÎãàÎã§.
    # method='first': Í∞ôÏùÄ Í∞íÏùò Í≤ΩÏö∞ Î®ºÏ†ÄÎÇòÏò® ÏöîÏÜåÎ•º ÏÉÅÏúÑÏóê Î∞∞ÏπòÌï©ÎãàÎã§.
    wc['rank'] = wc['count'].rank(method='first', ascending=False).astype(int)
    total = wc['count'].sum()

    # percent Ïó¥ÏóêÎäî ÎßêÎ≠âÏπò ÎÇ¥ Îã®Ïñ¥Ïùò ÎπÑÏú®ÏùÑ Í≥ÑÏÇ∞Ìï©ÎãàÎã§.
    wc['percent'] = wc['count'].apply(lambda x: x / total)

    wc = wc.sort_values(by='rank')

    # cul_percent Ïó¥ÏóêÎäî ÎàÑÏ†Å ÎπÑÏú®ÏùÑ Ï†ÄÏû•Ìï©ÎãàÎã§.
    wc['cul_percent'] = wc['percent'].cumsum()

    temp2 = zip(word_in_docs.keys(), word_in_docs.values())
    ac = pd.DataFrame(temp2, columns=['word', 'word_in_docs'])
    wc = ac.merge(wc, on='word')
    
    # word_in_docs_percent Ïó¥ÏóêÎäî Ï†ÑÏ≤¥ Î¨∏ÏÑú Ï§ë Ìï¥Îãπ Îã®Ïñ¥Í∞Ä Ï°¥Ïû¨ÌïòÎäî Î¨∏ÏÑúÏùò ÎπÑÏú®ÏùÑ Ï†ÄÏû•Ìï©ÎãàÎã§.
    wc['word_in_docs_percent'] = wc['word_in_docs'].apply(lambda x: x / total_docs)

    return wc.sort_values(by='rank')

In [43]:
# ÌÜ†ÌÅ∞ÌôîÎêú Í∞Å Î¶¨Î∑∞ Î¶¨Ïä§Ìä∏Î•º Ïπ¥Ïö¥ÌÑ∞ Í∞ùÏ≤¥Ïóê ÏóÖÎç∞Ïù¥Ìä∏ Ìï©ÎãàÎã§. 
df_0['token'].apply(lambda x: word_counts.update(x))

# Í∞ÄÏû• ÎßéÏù¥ Ï°¥Ïû¨ÌïòÎäî Îã®Ïñ¥ ÏàúÏúºÎ°ú 10Í∞úÎ•º ÎÇòÏó¥Ìï©ÎãàÎã§
word_counts.most_common(10)

[('and', 43728),
 ('', 42986),
 ('to', 25388),
 ('the', 21076),
 ('of', 17678),
 ('data', 14850),
 ('in', 13538),
 ('a', 12872),
 ('with', 11454),
 ('for', 8264)]

In [44]:
wc = word_count(df_0['token'])
wc.head()

,word,word_in_docs,count,rank,percent,cul_percent,word_in_docs_percent
215,and,755,21864,1,0.053487,0.053487,0.997358
0,,751,21493,2,0.052580,0.106067,0.992074
65,to,754,12694,3,0.031054,0.137121,0.996037
205,the,745,10538,4,0.025780,0.162901,0.984148
3,of,745,8839,5,0.021623,0.184524,0.984148

In [35]:
import seaborn as sns

wc_top10 = wc[wc['rank']<=10]['cul_percent']
wc_top10

215    0.053487
0      0.106067
65     0.137121
205    0.162901
3      0.184524
140    0.202689
94     0.219248
159    0.234993
97     0.249003
478    0.259111
Name: cul_percent, dtype: float64

### 4) ÌôïÏû•Îêú Î∂àÏö©Ïñ¥ ÏÇ¨Ï†ÑÏùÑ ÏÇ¨Ïö©Ìï¥ ÌÜ†ÌÅ∞ÏùÑ Ï†ïÏ†úÌï©ÎãàÎã§.

- **Î¨∏Ìï≠ 4) Í∏∞Î≥∏ Î∂àÏö©Ïñ¥ ÏÇ¨Ï†ÑÏóê Îëê Îã®Ïñ¥(`"data", "work"`)Î•º Ï∂îÍ∞ÄÌïòÎäî ÏΩîÎìúÎ•º ÏÇ¨Ïö©Ìï¥Ï£ºÏÑ∏Ïöî.**
- **Î¨∏Ìï≠ 5) Î∂àÏö©Ïñ¥Î•º Ï†úÍ±∞ÌïòÍ≥† ÎÇú Îí§ ÌÜ†ÌÅ∞ ÏàúÏúÑ 10Í∞úÏùò Îã®Ïñ¥Î•º ÏûÖÎ†•ÌïòÏÑ∏Ïöî.**

In [37]:
print(nlp.Defaults.stop_words)
print(type(nlp.Defaults.stop_words))

{'who', 'afterwards', 'n‚Äòt', 'doing', 'will', 'around', 'anywhere', 'after', 'though', "'s", 'its', 'anything', 'say', 're', 'across', 'be', 'fifty', 'front', 'i', 'but', 'us', 'twenty', 'only', 'all', 'in', 'ten', 'hence', 'together', 'more', 'could', 'them', 'you', 'one', 'however', 'when', 'every', 'into', 'very', 'being', 'seemed', 'done', 'fifteen', 'anyone', 'top', 'ours', 'unless', '‚Äòd', 'him', 'up', '‚Äôd', 'beforehand', 'really', 'amongst', 'those', 'used', 'toward', 'ourselves', 'back', 'it', 'along', 'before', 'move', 'four', 'must', 'go', 'keep', 'anyway', 'seems', 'per', 'call', 'other', '‚Äòll', 'same', 'sixty', 'forty', 'above', 'none', 'several', 'yourself', 'of', 'no', 'meanwhile', 'thereby', 'nothing', 'whom', 'twelve', 'may', 'as', 'serious', 'some', 'each', 'had', 'also', 'empty', 'hereupon', 'hereafter', 'thence', 'former', 'among', 'these', 'their', 'side', 'less', 'everywhere', 'six', 'due', 'to', 'within', 'off', 'anyhow', 'enough', '‚Äòm', 'about', 'between', 'ca', 'otherwise', 'indeed', 'through', 'first', 'has', 'with', 'such', 'what', 'onto', 'bottom', 'although', 'please', 'latterly', 'much', 'hundred', 'upon', 'whatever', 'how', 'another', 'is', 'themselves', 'whenever', 'thru', 'various', 'perhaps', 'have', 'that', 'can', "'ve", 'your', 'becomes', 'sometime', 'still', 'using', 'latter', 'regarding', 'amount', 'against', 'except', 'ever', 'almost', 'seem', 'two', 'wherein', 'take', 'mine', 'and', 'which', '‚Äòs', 'put', 'am', 'throughout', 'yours', 'cannot', 'whereas', 'during', 'they', 'beyond', "n't", 'n‚Äôt', 'this', 'are', 'now', 'if', 'our', 'becoming', 'besides', 'many', 'further', 'me', 'beside', 'without', 'were', 'whereupon', 'been', 'whoever', 'behind', 'whither', 'she', '‚Äòre', 'here', 'somehow', '‚Äôs', 'namely', '‚Äòve', 'rather', 'my', 'often', 'least', "'d", 'whole', 'hereby', 'thereafter', 'everyone', 'or', 'himself', 'too', 'not', 'see', 'three', 'own', 'whence', 'itself', 'part', 'show', 'myself', 'towards', 'for', 'whether', 'last', 'full', 'third', 'a', 'get', 'out', 'then', 'thus', 'noone', 'just', 'over', 'made', 'via', 'someone', 'both', 'did', 'where', 'than', 'give', 'nowhere', 'below', 'do', 'the', 'something', 'alone', '‚Äôre', 'formerly', 'eight', 'does', 'whereby', 'wherever', 'he', 'already', 'become', 'therein', 'down', 'thereupon', 'again', 'seeming', '‚Äôm', 'while', 'hers', 'since', '‚Äôll', 'make', 'we', 'would', 'somewhere', '‚Äôve', 'quite', 'nobody', 'her', 'sometimes', 'everything', 'until', 'nevertheless', 'might', 'next', 'mostly', 'elsewhere', 'herein', 'well', "'ll", 'from', 'yet', 'by', 'once', 'herself', 'else', 'an', 'was', 'never', 'name', 'most', 'yourselves', 'nor', 'his', "'m", 'on', 'whose', 'so', 'should', 'nine', 'moreover', 'five', 'whereafter', 'always', "'re", 'even', 'therefore', 'at', 'under', 'any', 'why', 'others', 'few', 'because', 'became', 'either', 'there', 'eleven', 'neither'}
<class 'set'>

In [47]:
STOP_WORDS = nlp.Defaults.stop_words.union(['data','work'])

tokens = []

for doc in tokenizer.pipe(df_0['description']):
  doc_tokens = []

  for token in doc:
    if token.text.lower() not in STOP_WORDS:
      doc_tokens.append(token.text.lower())

    tokens.append(doc_tokens)

df['tokens'] = tokens

ValueError: ignored

### 5) Lemmatization ÏÇ¨Ïö© Ìö®Í≥ºÎ•º Î∂ÑÏÑùÌï¥ Î¥ÖÎãàÎã§.

- **Î¨∏Ìï≠ 6) LemmatizationÏùÑ ÏßÑÌñâÌïú Îí§ ÏÉÅÏúÑ 10Í∞ú Îã®Ïñ¥Î•º ÏûÖÎ†•ÌïòÏÑ∏Ïöî.**

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## 2. Ïú†ÏÇ¨Ìïú Î¨∏ÏÑú Ï∞æÍ∏∞

### 1) `TfidfVectorizer`Î•º Ïù¥Ïö©Ìï¥ Í∞Å Î¨∏ÏÑúÎì§ÏùÑ Î≤°ÌÑ∞Ìôî Ìïú ÌõÑ KNN Î™®Îç∏ÏùÑ ÎßåÎì§Í≥†, <br/> ÎÇ¥Í∞Ä ÏõêÌïòÎäî `job description`ÏùÑ ÏßàÏùòÌï¥ Í∞ÄÏû• Í∞ÄÍπåÏö¥ Í≤ÄÏÉâ Í≤∞Í≥ºÎì§ÏùÑ Í∞ÄÏ†∏Ïò§Í≥† Î∂ÑÏÑùÌï©ÎãàÎã§.

- **Î¨∏Ìï≠ 9) 88Î≤à indexÏùò `job description`ÏôÄ 5Í∞úÏùò Í∞ÄÏû• Ïú†ÏÇ¨Ìïú `job description`Ïù¥ ÏûàÎäî indexÎ•º ÏûÖÎ†•ÌïòÏÑ∏Ïöî.**
    - ÎãµÏùÄ 88Î≤à Ïù∏Îç±Ïä§Î•º Ìè¨Ìï®Ìï©ÎãàÎã§.
    - `max_features = 3000` ÏúºÎ°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
    - [88, 90, 91, 93, 94] ÌòïÌÉúÎ°ú ÎãµÏùÑ ÏûÖÎ†•Ìï¥Ï£ºÏÑ∏Ïöî

## 3. TF-IDF Ïù¥Ïö©Ìïú ÌÖçÏä§Ìä∏ Î∂ÑÎ•ò ÏßÑÌñâÌïòÍ∏∞

TF-IDFÎ•º Ïù¥Ïö©Ìï¥ Î¨∏Ïû• ÌòπÏùÄ Î¨∏ÏÑúÎ•º Î≤°ÌÑ∞ÌôîÌïú Í≤ΩÏö∞, Ïù¥ Î≤°ÌÑ∞Í∞íÏùÑ Ïù¥Ïö©Ìï¥ Î¨∏ÏÑú Î∂ÑÎ•ò ÌÉúÏä§ÌÅ¨Î•º ÏßÑÌñâÌï† Ïàò ÏûàÏäµÎãàÎã§. 

ÌòÑÏû¨ Îã§Î£®Í≥† ÏûàÎäî Îç∞Ïù¥ÌÑ∞ÏÖãÏóêÎäî labelÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏúºÎØÄÎ°ú, title Ïª¨ÎüºÏóê "Senior"Í∞Ä ÏûàÎäîÏßÄ ÏóÜÎäîÏßÄ Ïó¨Î∂ÄÎ•º ÌÜµÌï¥ Senior ÏßÅÎ¨¥ Ïó¨Î∂ÄÎ•º Î∂ÑÎ•òÌïòÎäî ÏûëÏóÖÏùÑ ÏßÑÌñâÌï¥Î≥¥Í≤†ÏäµÎãàÎã§.

### 1) title Ïª¨ÎüºÏóê "Senior" Î¨∏ÏûêÏó¥Ïù¥ ÏûàÏúºÎ©¥ 1, ÏóÜÏúºÎ©¥ 0Ïù∏ "Senior"ÎùºÎäî ÏÉàÎ°úÏö¥ Ïª¨ÎüºÏùÑ ÏÉùÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî.

Î¨∏Ìï≠ 7) ÏÉàÎ°≠Í≤å ÎßåÎì† Senior Ïª¨ÎüºÏóêÏÑú Í∞íÏù¥ 1Ïù∏ (Senior O) Îç∞Ïù¥ÌÑ∞Ïùò Í∞úÏàòÎäî?

In [ ]:
df['senior'] = df['title'].apply()

Î¨∏Ìï≠ 8) sklearnÏùò `train_test_split`ÏùÑ ÌÜµÌï¥ train Îç∞Ïù¥ÌÑ∞ÏôÄ valid Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàà ÌõÑ, `sklearn`Ïùò `DecisionTreeClassifier`Î•º Ïù¥Ïö©Ìï¥ Î∂ÑÎ•òÎ•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî. 

Îã®, xÍ∞íÏùÄ ÏúÑÏóêÏÑú ÌïôÏäµÌïú dtm_tfidfÎ•º Í∑∏ÎåÄÎ°ú Ïù¥Ïö©Ìï¥Ï£ºÏÑ∏Ïöî. train_test_splitÍ≥º DecisionTreeClassifierÏùò random_stateÏùÑ 42Î°ú Í≥†Ï†ïÌïòÍ≥†, test_sizeÎäî 0.1Î°ú ÏÑ§Ï†ïÌï¥Ï£ºÏÑ∏Ïöî.

ÌïôÏäµÏùÑ ÏôÑÎ£åÌïú ÌõÑ, test Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏòàÏ∏°ÏùÑ ÏßÑÌñâÌïòÍ≥† label 1Ïóê ÎåÄÌïú precisionÍ≥º recall Í∞íÏùÑ Ï†ÅÏñ¥Ï£ºÏÑ∏Ïöî

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###