<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 4 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment

---


# Count-based_Representation

indeed.com ì—ì„œ Data Scientist í‚¤ì›Œë“œë¡œ Job descritionì„ ì°¾ì•„ ìŠ¤í¬ë˜í•‘í•œ ë°ì´í„°ë¥¼ ì´ìš©í•´ ê³¼ì œë¥¼ ì§„í–‰í•´ ë³´ê² ìŠµë‹ˆë‹¤.

[Data_Scienties.csv](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv) íŒŒì¼ì—ëŠ” 1300ì—¬ê°œì˜ Data Scientist job description ì •ë³´ê°€ ë‹´ê²¨ ìˆìŠµë‹ˆë‹¤.

## 1. ë°ì´í„° ì „ì²˜ë¦¬ (Text preprocessing)

In [1]:
import re
import string

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 0) í…ìŠ¤íŠ¸ ë¶„ì„ì— ì•ì„œ ë°ì´í„° ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤.

- íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¨ í›„ title, company, description ì— í•´ë‹¹í•˜ëŠ” Columnë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”.
- ì¤‘ë³µê°’ì„ ì œê±°í•˜ì„¸ìš”.

In [2]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv')

In [8]:
df_0 = df[['title','company','description']].drop_duplicates()
df_0.head()

,title,company,description
0,Data Scientist (Structured Products),EquiTrust Life Insurance Company,Job Details\nDescription\nEssential Duties and...
2,"Specialist, Data Science",Nationwide,As a team member in the Finance and Internal A...
4,Sr. Data Scientist (Remote),American Credit Acceptance,Overview:\nAmerican Credit Acceptance seeks a ...
5,Data Scientist Associate Sr (DADS06) BTB - LEG...,"JPMorgan Chase Bank, N.A.",J.P. Morgan's Corporate & Investment Bank (CIB...
6,Data Scientist,VyStar Credit Union,"At VyStar, we offer competitive pay, an excell..."

In [12]:
df_0.shape

(757, 3)

### 1) í† í°ì„ ì •ì œí•©ë‹ˆë‹¤.

- ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ í†µì¼
- ë¶„ì„ì— ê´€ë ¨ ì—†ëŠ” ì •ë³´ ì œê±°
- ì´ë²ˆ ê³¼ì œëŠ” `spacy` ë¡œë¶€í„° `"en_core_web_sm"` ì„ ë¡œë“œí•˜ì—¬ ì§„í–‰í•´ì£¼ì„¸ìš”.

- **ë¬¸í•­ 1) ëŒ€ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**
- **ë¬¸í•­ 2) ì •ê·œ í‘œí˜„ì‹ì„ ì‚¬ìš©í•˜ì—¬ re ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ì•ŒíŒŒë²³ ì†Œë¬¸ì, ìˆ«ìë§Œ ë°›ì„ ìˆ˜ ìˆëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.**

In [42]:
import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load("en_core_web_sm")
tokenizer = Tokenizer(nlp.vocab)

tokens = []

for doc in tokenizer.pipe(df_0['description']):
  doc_tokens = [re.sub(r"[^a-z0-9]","",token.text.lower()) for token in doc]
  tokens.append(doc_tokens)

df_0['token'] = tokens
df_0['token'].tail(1)

1299    [tldr, , spring, is, accelerating, the, discov...
Name: token, dtype: object

### 2) ì •ì œí•œ í† í°ì„ ì‹œê°í™” í•©ë‹ˆë‹¤.

- Top 10 í† í°ì„ í”„ë¦°íŠ¸ í•©ë‹ˆë‹¤.
- í† í°ì˜ ìˆ˜, ë¹ˆë„ ìˆœìœ„, ì¡´ì¬ ë¬¸ì„œ ìˆ˜, ë¹„ìœ¨ ë“± ì •ë³´ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
- í† í° ìˆœìœ„ì— ë”°ë¥¸ í¼ì„¼íŠ¸ ëˆ„ì  ë¶„í¬ ê·¸ë˜í”„ë¥¼ ì‹œê°í™”í•©ë‹ˆë‹¤.

- **ë¬¸í•­ 3) ì¶”ì²œ í† í° ìˆœìœ„ 10ê°œ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [25]:
from collections import Counter

# Counter ê°ì²´ëŠ” ë¦¬ìŠ¤íŠ¸ìš”ì†Œì˜ ê°’ê³¼ ìš”ì†Œì˜ ê°¯ìˆ˜ë¥¼ ì¹´ìš´íŠ¸ í•˜ì—¬ ì €ì¥í•˜ê³  ìˆìŠµë‹ˆë‹¤.
# ì¹´ìš´í„° ê°ì²´ëŠ” .update ë©”ì†Œë“œë¡œ ê³„ì† ì—…ë°ì´íŠ¸ ê°€ëŠ¥í•©ë‹ˆë‹¤.
word_counts = Counter()

In [26]:
def word_count(docs):
    """
    í† í°í™”ëœ ë¬¸ì„œë“¤ì„ ì…ë ¥ë°›ì•„ í† í°ë³„ë¡œ ê°œìˆ˜ë¥¼ ì¹´ìš´íŠ¸ í•˜ê³  ê´€ë ¨ëœ ì†ì„±ì„ ê°€ì§„ ë°ì´í„°í”„ë ˆì„ì„ ë°˜í™˜í•©ë‹ˆë‹¤.
    
    Args:
        docs (series or list): í† í°í™” ëœ ë¬¸ì„œê°€ ë“¤ì–´ìˆëŠ” list
    Returns:
        list: Dataframe
    """
    
    # word_counts : ë§ë­‰ì¹˜ì—ì„œ ë‹¨ì–´ì˜ ê°œìˆ˜ì…ë‹ˆë‹¤.
    word_counts = Counter()

    # word_in_docs : ë‹¨ì–´ê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì„œì˜ ë¹ˆë„ì…ë‹ˆë‹¤. í•´ë‹¹ ë‹¨ì–´ê°€ í•œ ë²ˆ ì´ìƒ ì¡´ì¬í•˜ë©´ +1
    word_in_docs = Counter()

    # total_docs : ì „ì²´ ë¬¸ì„œì˜ ê°œìˆ˜ì…ë‹ˆë‹¤.
    total_docs = len(docs)

    for doc in docs:
        word_counts.update(doc)
        word_in_docs.update(set(doc))

    temp = zip(word_counts.keys(), word_counts.values())

    wc = pd.DataFrame(temp, columns = ['word', 'count'])

    # rank ì—´ì— ë‹¨ì–´ ë¹ˆë„ ìˆœìœ¼ë¡œ ìˆœìœ„ë¥¼ ì €ì¥í•©ë‹ˆë‹¤.
    # method='first': ê°™ì€ ê°’ì˜ ê²½ìš° ë¨¼ì €ë‚˜ì˜¨ ìš”ì†Œë¥¼ ìƒìœ„ì— ë°°ì¹˜í•©ë‹ˆë‹¤.
    wc['rank'] = wc['count'].rank(method='first', ascending=False).astype(int)
    total = wc['count'].sum()

    # percent ì—´ì—ëŠ” ë§ë­‰ì¹˜ ë‚´ ë‹¨ì–´ì˜ ë¹„ìœ¨ì„ ê³„ì‚°í•©ë‹ˆë‹¤.
    wc['percent'] = wc['count'].apply(lambda x: x / total)

    wc = wc.sort_values(by='rank')

    # cul_percent ì—´ì—ëŠ” ëˆ„ì  ë¹„ìœ¨ì„ ì €ì¥í•©ë‹ˆë‹¤.
    wc['cul_percent'] = wc['percent'].cumsum()

    temp2 = zip(word_in_docs.keys(), word_in_docs.values())
    ac = pd.DataFrame(temp2, columns=['word', 'word_in_docs'])
    wc = ac.merge(wc, on='word')
    
    # word_in_docs_percent ì—´ì—ëŠ” ì „ì²´ ë¬¸ì„œ ì¤‘ í•´ë‹¹ ë‹¨ì–´ê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì„œì˜ ë¹„ìœ¨ì„ ì €ì¥í•©ë‹ˆë‹¤.
    wc['word_in_docs_percent'] = wc['word_in_docs'].apply(lambda x: x / total_docs)

    return wc.sort_values(by='rank')

In [43]:
# í† í°í™”ëœ ê° ë¦¬ë·° ë¦¬ìŠ¤íŠ¸ë¥¼ ì¹´ìš´í„° ê°ì²´ì— ì—…ë°ì´íŠ¸ í•©ë‹ˆë‹¤. 
df_0['token'].apply(lambda x: word_counts.update(x))

# ê°€ì¥ ë§ì´ ì¡´ì¬í•˜ëŠ” ë‹¨ì–´ ìˆœìœ¼ë¡œ 10ê°œë¥¼ ë‚˜ì—´í•©ë‹ˆë‹¤
word_counts.most_common(10)

[('and', 43728),
 ('', 42986),
 ('to', 25388),
 ('the', 21076),
 ('of', 17678),
 ('data', 14850),
 ('in', 13538),
 ('a', 12872),
 ('with', 11454),
 ('for', 8264)]

In [44]:
wc = word_count(df_0['token'])
wc.head()

,word,word_in_docs,count,rank,percent,cul_percent,word_in_docs_percent
215,and,755,21864,1,0.053487,0.053487,0.997358
0,,751,21493,2,0.052580,0.106067,0.992074
65,to,754,12694,3,0.031054,0.137121,0.996037
205,the,745,10538,4,0.025780,0.162901,0.984148
3,of,745,8839,5,0.021623,0.184524,0.984148

In [35]:
import seaborn as sns

wc_top10 = wc[wc['rank']<=10]['cul_percent']
wc_top10

215    0.053487
0      0.106067
65     0.137121
205    0.162901
3      0.184524
140    0.202689
94     0.219248
159    0.234993
97     0.249003
478    0.259111
Name: cul_percent, dtype: float64

### 4) í™•ì¥ëœ ë¶ˆìš©ì–´ ì‚¬ì „ì„ ì‚¬ìš©í•´ í† í°ì„ ì •ì œí•©ë‹ˆë‹¤.

- **ë¬¸í•­ 4) ê¸°ë³¸ ë¶ˆìš©ì–´ ì‚¬ì „ì— ë‘ ë‹¨ì–´(`"data", "work"`)ë¥¼ ì¶”ê°€í•˜ëŠ” ì½”ë“œë¥¼ ì‚¬ìš©í•´ì£¼ì„¸ìš”.**
- **ë¬¸í•­ 5) ë¶ˆìš©ì–´ë¥¼ ì œê±°í•˜ê³  ë‚œ ë’¤ í† í° ìˆœìœ„ 10ê°œì˜ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [37]:
print(nlp.Defaults.stop_words)
print(type(nlp.Defaults.stop_words))

{'who', 'afterwards', 'nâ€˜t', 'doing', 'will', 'around', 'anywhere', 'after', 'though', "'s", 'its', 'anything', 'say', 're', 'across', 'be', 'fifty', 'front', 'i', 'but', 'us', 'twenty', 'only', 'all', 'in', 'ten', 'hence', 'together', 'more', 'could', 'them', 'you', 'one', 'however', 'when', 'every', 'into', 'very', 'being', 'seemed', 'done', 'fifteen', 'anyone', 'top', 'ours', 'unless', 'â€˜d', 'him', 'up', 'â€™d', 'beforehand', 'really', 'amongst', 'those', 'used', 'toward', 'ourselves', 'back', 'it', 'along', 'before', 'move', 'four', 'must', 'go', 'keep', 'anyway', 'seems', 'per', 'call', 'other', 'â€˜ll', 'same', 'sixty', 'forty', 'above', 'none', 'several', 'yourself', 'of', 'no', 'meanwhile', 'thereby', 'nothing', 'whom', 'twelve', 'may', 'as', 'serious', 'some', 'each', 'had', 'also', 'empty', 'hereupon', 'hereafter', 'thence', 'former', 'among', 'these', 'their', 'side', 'less', 'everywhere', 'six', 'due', 'to', 'within', 'off', 'anyhow', 'enough', 'â€˜m', 'about', 'between', 'ca', 'otherwise', 'indeed', 'through', 'first', 'has', 'with', 'such', 'what', 'onto', 'bottom', 'although', 'please', 'latterly', 'much', 'hundred', 'upon', 'whatever', 'how', 'another', 'is', 'themselves', 'whenever', 'thru', 'various', 'perhaps', 'have', 'that', 'can', "'ve", 'your', 'becomes', 'sometime', 'still', 'using', 'latter', 'regarding', 'amount', 'against', 'except', 'ever', 'almost', 'seem', 'two', 'wherein', 'take', 'mine', 'and', 'which', 'â€˜s', 'put', 'am', 'throughout', 'yours', 'cannot', 'whereas', 'during', 'they', 'beyond', "n't", 'nâ€™t', 'this', 'are', 'now', 'if', 'our', 'becoming', 'besides', 'many', 'further', 'me', 'beside', 'without', 'were', 'whereupon', 'been', 'whoever', 'behind', 'whither', 'she', 'â€˜re', 'here', 'somehow', 'â€™s', 'namely', 'â€˜ve', 'rather', 'my', 'often', 'least', "'d", 'whole', 'hereby', 'thereafter', 'everyone', 'or', 'himself', 'too', 'not', 'see', 'three', 'own', 'whence', 'itself', 'part', 'show', 'myself', 'towards', 'for', 'whether', 'last', 'full', 'third', 'a', 'get', 'out', 'then', 'thus', 'noone', 'just', 'over', 'made', 'via', 'someone', 'both', 'did', 'where', 'than', 'give', 'nowhere', 'below', 'do', 'the', 'something', 'alone', 'â€™re', 'formerly', 'eight', 'does', 'whereby', 'wherever', 'he', 'already', 'become', 'therein', 'down', 'thereupon', 'again', 'seeming', 'â€™m', 'while', 'hers', 'since', 'â€™ll', 'make', 'we', 'would', 'somewhere', 'â€™ve', 'quite', 'nobody', 'her', 'sometimes', 'everything', 'until', 'nevertheless', 'might', 'next', 'mostly', 'elsewhere', 'herein', 'well', "'ll", 'from', 'yet', 'by', 'once', 'herself', 'else', 'an', 'was', 'never', 'name', 'most', 'yourselves', 'nor', 'his', "'m", 'on', 'whose', 'so', 'should', 'nine', 'moreover', 'five', 'whereafter', 'always', "'re", 'even', 'therefore', 'at', 'under', 'any', 'why', 'others', 'few', 'because', 'became', 'either', 'there', 'eleven', 'neither'}
<class 'set'>

In [47]:
STOP_WORDS = nlp.Defaults.stop_words.union(['data','work'])

tokens = []

for doc in tokenizer.pipe(df_0['description']):
  doc_tokens = []

  for token in doc:
    if token.text.lower() not in STOP_WORDS:
      doc_tokens.append(token.text.lower())

    tokens.append(doc_tokens)

df['tokens'] = tokens

ValueError: ignored

### 5) Lemmatization ì‚¬ìš© íš¨ê³¼ë¥¼ ë¶„ì„í•´ ë´…ë‹ˆë‹¤.

- **ë¬¸í•­ 6) Lemmatizationì„ ì§„í–‰í•œ ë’¤ ìƒìœ„ 10ê°œ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

## 2. ìœ ì‚¬í•œ ë¬¸ì„œ ì°¾ê¸°

### 1) `TfidfVectorizer`ë¥¼ ì´ìš©í•´ ê° ë¬¸ì„œë“¤ì„ ë²¡í„°í™” í•œ í›„ KNN ëª¨ë¸ì„ ë§Œë“¤ê³ , <br/> ë‚´ê°€ ì›í•˜ëŠ” `job description`ì„ ì§ˆì˜í•´ ê°€ì¥ ê°€ê¹Œìš´ ê²€ìƒ‰ ê²°ê³¼ë“¤ì„ ê°€ì ¸ì˜¤ê³  ë¶„ì„í•©ë‹ˆë‹¤.

- **ë¬¸í•­ 9) 88ë²ˆ indexì˜ `job description`ì™€ 5ê°œì˜ ê°€ì¥ ìœ ì‚¬í•œ `job description`ì´ ìˆëŠ” indexë¥¼ ì…ë ¥í•˜ì„¸ìš”.**
    - ë‹µì€ 88ë²ˆ ì¸ë±ìŠ¤ë¥¼ í¬í•¨í•©ë‹ˆë‹¤.
    - `max_features = 3000` ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
    - [88, 90, 91, 93, 94] í˜•íƒœë¡œ ë‹µì„ ì…ë ¥í•´ì£¼ì„¸ìš”

## 3. TF-IDF ì´ìš©í•œ í…ìŠ¤íŠ¸ ë¶„ë¥˜ ì§„í–‰í•˜ê¸°

TF-IDFë¥¼ ì´ìš©í•´ ë¬¸ì¥ í˜¹ì€ ë¬¸ì„œë¥¼ ë²¡í„°í™”í•œ ê²½ìš°, ì´ ë²¡í„°ê°’ì„ ì´ìš©í•´ ë¬¸ì„œ ë¶„ë¥˜ íƒœìŠ¤í¬ë¥¼ ì§„í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

í˜„ì¬ ë‹¤ë£¨ê³  ìˆëŠ” ë°ì´í„°ì…‹ì—ëŠ” labelì´ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë¯€ë¡œ, title ì»¬ëŸ¼ì— "Senior"ê°€ ìˆëŠ”ì§€ ì—†ëŠ”ì§€ ì—¬ë¶€ë¥¼ í†µí•´ Senior ì§ë¬´ ì—¬ë¶€ë¥¼ ë¶„ë¥˜í•˜ëŠ” ì‘ì—…ì„ ì§„í–‰í•´ë³´ê² ìŠµë‹ˆë‹¤.

### 1) title ì»¬ëŸ¼ì— "Senior" ë¬¸ìì—´ì´ ìˆìœ¼ë©´ 1, ì—†ìœ¼ë©´ 0ì¸ "Senior"ë¼ëŠ” ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•´ì£¼ì„¸ìš”.

ë¬¸í•­ 7) ìƒˆë¡­ê²Œ ë§Œë“  Senior ì»¬ëŸ¼ì—ì„œ ê°’ì´ 1ì¸ (Senior O) ë°ì´í„°ì˜ ê°œìˆ˜ëŠ”?

In [ ]:
df['senior'] = df['title'].apply()

ë¬¸í•­ 8) sklearnì˜ `train_test_split`ì„ í†µí•´ train ë°ì´í„°ì™€ valid ë°ì´í„°ë¡œ ë‚˜ëˆˆ í›„, `sklearn`ì˜ `DecisionTreeClassifier`ë¥¼ ì´ìš©í•´ ë¶„ë¥˜ë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”. 

ë‹¨, xê°’ì€ ìœ„ì—ì„œ í•™ìŠµí•œ dtm_tfidfë¥¼ ê·¸ëŒ€ë¡œ ì´ìš©í•´ì£¼ì„¸ìš”. train_test_splitê³¼ DecisionTreeClassifierì˜ random_stateì„ 42ë¡œ ê³ ì •í•˜ê³ , test_sizeëŠ” 0.1ë¡œ ì„¤ì •í•´ì£¼ì„¸ìš”.

í•™ìŠµì„ ì™„ë£Œí•œ í›„, test ë°ì´í„°ì— ëŒ€í•œ ì˜ˆì¸¡ì„ ì§„í–‰í•˜ê³  label 1ì— ëŒ€í•œ precisionê³¼ recall ê°’ì„ ì ì–´ì£¼ì„¸ìš”

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###